#successNotification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 9999;
    min-width: 300px;
}

#errorNotification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 9999;
    min-width: 300px;
}

input[readonly] {
    background-color: #ffe0b2 !important;
    /* light orange */
    cursor: not-allowed;
    opacity: 0.8;
    pointer-events: none;
}
.locked-field {
    background-color: #ffe5b4 !important; /* light orange */
    cursor: not-allowed;
}
